nav{
    background-color: rgba(244, 223, 223, 0.424);
    width: 100vw;
    height: 4.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.link{
    text-decoration: none;
    color: black;
}

.active{
    color: rgb(147, 146, 146);
}