.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeDiv {
  height: 100vh;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.homeImg {
  width: 50%;
  height: 100%;
}
