* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  padding: 3rem;
}

.EditBtn {
  width: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  color: rgb(133, 131, 132);
  text-decoration: none;
  text-transform: uppercase;
  /* place-self: end; */
}
.EditBtn:hover {
  color: black;
}
